
h1{
    padding-left: 8%;
    color: white;
    font-size: 2.5rem;
}

.desccontainer{
    /* padding-left: 14.5vw; */
    /* padding-right: 14.5vw; */
    background-color: #060C34;
    min-width: 80%;
}


.card{
    border:none;
    margin-top: 10%;
    margin-bottom: 30%;
    width: 95%;
}

.w-92{
    width: 92%;
}

ngb-carousel{
    outline: none;
    padding-left: 7.5%;
    padding-right: 7.5%;
}



.captions{
    font-size: 2rem;
}

/* .carousel-control-next, .carousel-control-prev{
    width:10%
} */


.grow{
    transition: 100ms ease;
}

.grow:hover{
    transform: scale(1.1);
}


.card-class-normal .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to top, black 25%, rgba(0,0,0,0));;
    opacity:0;
    transition:opacity 200ms ease;
    
}

.card-class-mobile .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to top, black 25%, rgba(0,0,0,0));;
    opacity:1;
    transition:opacity 200ms ease;
    
}  

.card:hover .overlay{
    opacity:1;
    }

.carousel-caption{
    text-align: left;
    padding-bottom: 0px;
    left: 10%;
    /* background-color: red; */
}

.carousel-caption p{
    margin-bottom: 0rem;
    font-size: 1rem;
}


::ng-deep  .carousel-control-prev{
    width: 12%;
    /* margin-left: 0px; */
  }

  ::ng-deep  .carousel-control-next{
    width: 12%;
    /* margin-left: 0px; */
}
