/* .youtubeplayer{
    height:20vh;
} */

@media screen and (min-width: 768px) {
    .desctitle {
     /* padding-left:1rem; */
     /* padding-right:1rem; */
    }

    .desccontent {
        /* padding-left:1rem; */
        /* padding-right:1rem; */
       }

    .tweetcl{
    padding-left:1rem;
    }

    .rightpaddesc{
        padding-right: 0 !important;
    }
    
  }


.desccontainer{
    /* padding-left: 14.5vw; */
    /* padding-right: 14.5vw; */
    /* background-color: #060C34; Separate background for this part */ 
    min-width: 72%;
}


p b{
    font-size: 1.3rem;
    font-weight: normal;
}

.genre{
    font-size: 1.1rem;
    margin-bottom: 0px;
    color: white;
}


.lang{
    font-size: 1.1rem;
}

.colorwhite{
    color: white;
}

.desccontent{
    font-size: 1.2rem;
}

.rightpaddesc{
    padding-right: 1.5rem;
}

.desctitle{
    font-size: 1.6rem;
    font-weight: bolder;
}

.text-black{
    /* color: #8B8F9E; */
    color: black;
}

.text-grey-upperhalf{
 
    /* color: #B9BAC1; */
    color: white;
}


.fa{
    text-decoration: none;
    margin-right: 10px;
    text-shadow: 0 0 1px #000;
}

.fa-facebook  {
    color: #3B5998;
    /* color: #0818AC; */
}

.fa-twitter {
    color: #55ACEE;
}

.btn-primary{
   font-size: 20px;
   padding-left:4%;
   padding-right:4%;
   background-color: #53BBF4;
   
   border:1px black;
}

.btn{
 color:white;  
 
}

.btn:hover{
    color:white;   
    
}

.card{
    background-color: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
   