

.bckgd{
    /* background-color: #060C34; */
    background : linear-gradient(90deg,#53BBF4, #4752AD, #D03875);
    padding-bottom: 10rem;
}

.card{
    /* border:none; */
    border-radius: 12px;
    margin-top: 10%;
    margin-bottom: 30%;
    width: 95%;
    
}

.card-img-top{
    border-radius: 12px;
}

.w-92{
    width: 92%;
}

ngb-carousel{
    outline: none;
    background-color: red;
}



.ngbcar-class-normal{
    padding-left: 16%;
    padding-right: 16%;
}

.ngbcar-class-mobile{
    padding-left: 7.5%;
    padding-right: 7.5%;
}


/* .carousel-control-next, .carousel-control-prev{
    width:10%
} */


.grow{
    transition: 100ms ease;
}

.grow:hover{
    transform: scale(1.1);
}


.card-class-normal .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to top, black 25%, rgba(0,0,0,0));;
    opacity:0;
    transition:opacity 200ms ease;
    border-radius: 12px;
    
}

.card-class-mobile .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:linear-gradient(to top, black 25%, rgba(0,0,0,0));;
    opacity:1;
    transition:opacity 200ms ease;
    border-radius: 12px;
}  

.card:hover .overlay{
    opacity:1;
}

.carousel-caption{
    text-align: left;
    padding-bottom: 0px;
    left: 10%;
    /* background-color: red; */
}

.carousel-caption p{
    margin-bottom: 0rem;
    font-size: large;
}


footer{
    position: relative;
    bottom: 0;
    background:linear-gradient(to top, black 20%, rgba(0,0,0,0));
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #060C34;
    /* margin-top: -40px; */
    /* margin-bottom: 0px; */
    padding-bottom: 5%;
    text-align: center;
}

footer p{
    position: absolute;
    bottom: 0;
    color:white;
    text-align: center;
    width: 100%;
}


.bodydiv{
    min-height: 83vh;
    height: 100%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.bodydivtitle{

    margin-left: -2vw;
    /* background-color: red; */
}


::ng-deep ::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
    height: 0.5rem;
}
   
::ng-deep ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(178, 178, 178, 0.5);
    background-color: #060C34;
    border-radius: 10px;
    /* border: 1px solid #B2B2B2; */
    
}
   
::ng-deep ::-webkit-scrollbar-thumb {
    background-color:#B2B2B2;
    border-radius: 10px;
    /* outline: 1px solid darkgrey; */
}